[submodule "lib/dotbot"]
	path = lib/dotbot
	url = https://github.com/anishathalye/dotbot
    branch = master
[submodule "lib/dotbot-asdf"]
	path = lib/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "lib/dotbot-git"]
	path = lib/dotbot-git
	url = https://github.com/camflan/dotbot-git.git
[submodule "lib/dotbot-golang"]
	path = lib/dotbot-golang
	url = https://github.com/delicb/dotbot-golang
[submodule "lib/dotbot-gh-extension"]
	path = lib/dotbot-gh-extension
	url = https://github.com/fundor333/dotbot-gh-extension.git
[submodule "lib/dotbot-rust"]
	path = lib/dotbot-rust
	url = https://github.com/alexcormier/dotbot-rust
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/mariovagomarzal/dotbot-brew.git
