[submodule "lib/dotbot"]
	path = lib/dotbot
	url = https://github.com/anishathalye/dotbot
    branch = main
[submodule "lib/dotbot-asdf"]
	path = lib/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "lib/dotbot-brew"]
	path = lib/dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule "lib/dotbot-pip"]
	path = lib/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "lib/dotbot-git"]
	path = lib/dotbot-git
	url = https://github.com/camflan/dotbot-git.git
